<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.weg135.winf.passwordapp1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ErstesMalOeffnen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NormalOeffnen"
            android:label="@string/title_activity_normal_oeffnen" >
        </activity>
        <activity
            android:name=".HauptMenu"
            android:label="@string/title_activity_haupt_menu" >
        </activity>
        <activity
            android:name=".PasswortAendern"
            android:label="@string/title_activity_passwort_aendern" >
        </activity>
        <activity
            android:name=".AccountErstellen"
            android:label="@string/title_activity_account_erstellen" >
        </activity>
        <activity
            android:name=".EingespeichertesAccountaendern"
            android:label="@string/title_activity_eingespeichertes_accountaendern" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".AlleAccounts"
            android:label="@string/title_activity_alle_accounts" >
        </activity>
        <activity
            android:name=".AppBeenden"
            android:label="@string/title_activity_app_beenden" >
        </activity>
        <activity
            android:name=".ActivityRegistry"
            android:label="@string/title_activity_activity_registry" >
        </activity>
    </application>

</manifest>
